#root > header > div > header > clr-modal{
    font-size: x-small;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: flex-end;
    color: deepskyblue;
}

#root > header > div > header > div.currentUser{
    font-size: x-small;
    color: deepskyblue;
}

.nav{
    background-color: #153657;
}

.btn-link .btn, .btn.btn-link {
    color: #68cdff !important;
}

#root > header > div > nav{
background-color: #153657;
}
