@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ws-text-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Metropolis', sans-serif;
  font-weight: 500;
  font-size: larger;
  color: #333;
  animation: fadeIn 2s ease-in-out;
}

.ws-header {
  background-color: #2fb0ff;
  color: white;
  padding: 20px;
  text-align: center;
  height: 8vh;
  animation: fadeIn 2s ease-in-out;
}

.ws-img-container {
  display: flex;
}

.WP-img {
  position: relative;
  margin-top: 10px;
  margin-bottom: 0px;
  border: none;
}

.ws-text-box {
  flex: 1 1;
  padding-left: 20px;
  border-left: 1px solid #ccc;
  min-width: 50vw;
  padding-left: 10vw;
  margin-top: 9vh;
  animation: fadeIn 2s ease-in-out;
}



.ws-text-box p {
  color: rgb(0, 0, 0);
}

#root > div > main > section > div > div.ws-text-box > p {
  color: black;
  animation: fadeIn 2s ease-in-out;
}

.ws-content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  animation: fadeIn 2s ease-in-out;
}

.ws-text-section {
  display: flex;
  margin-bottom: 20px;
  margin-left: 26vw;
  margin-right: 26vw;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
  line-height: normal;
  margin-top: 91px;
  animation: fadeIn 2s ease-in-out;
}

.ws-text-section h2 {
  color: #002538;
  text-align: justify;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Metropolis', sans-serif;
  font-weight: 500;
  font-size: larger;
  animation: fadeIn 2s ease-in-out;
}

.WP-img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 56vh;
}
